@import "tailwindcss";

@source "./src/**/*.{rs,html,css}";
@source "index.html";

@theme {
    --color-melody-purple: #cc55ff;
    --color-melody-blue: #55ccff;

    --color-rust: #d34516;
    --color-python: #306998;
    --color-typescript: #3178c6;
    --color-postgresql: #336791;
    --color-git: #f1502f;

    --color-discord: #5865f2;
    --color-bluesky: #1185fe;
    --color-youtube: #ff0000;
    --color-reddit: #ff5700;
    --color-telegram: #229ed9;
}
