{% set fa_version = "6.1.1" %}

{% set style = "/static/css/output.css" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}

    <title>{{ title }}</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta author="nekitdev">
    <meta name="description" content="{{ description }}">

    <meta property="og:site_name" content="nekitdev">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">

    <script defer src="https://use.fontawesome.com/releases/v{{ fa_version }}/js/all.js"></script>

    {% endblock %}

    {% block include %}

    <link rel="preload" href="{{ style }}" as="style">

    <link rel="stylesheet" href="{{ style }}">

    {% endblock %}
  </head>
  <body class="bg-white dark:bg-neutral-900 text-black dark:text-white">

    {% block body %}

    {% endblock %}

  </body>
</html>
