{% extends "base.html" %}
{% set title = "Home" %}
{% set description = "nekitdev - Software Developer, Mathematics and Programming Enthusiast." %}

{% block body %}

{{ super() }}

<section id="title" class="section">
    <div class="container has-text-centered">
        <h1 class="title has-text-weight-bold has-text-primary">nekitdev</h1>
        <p class="subtitle">Software Developer, Mathematics and Programming Enthusiast.</p>
    </div>
</section>

<section id="about" class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column">
                <h2 class="subtitle">About</h2>
                <p>
                    Nikita Tikhonov, <i>nekit</i>, {{ age }}-year-old programmer from Moscow, Russia.<br>
                    I love open source, and I mostly write in Python and Rust, along with JavaScript.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="projects" class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column">
                <h2 class="subtitle">Projects</h2>
            </div>
        </div>
    </div>
</section>

{% endblock %}
