{% extends "base.html" %}
{% set title = "Home" %}
{% set description = "Building awesome software." %}

{% block body %}

{{ super() }}

<div class="px-4 sm:px-6 md:px-8">
  <header class="relative pt-6 lg:pt-8 flex items-center justify-between text-neutral-700 leading-6 dark:text-neutral-200">
    <a class="text-neutral-900 dark:text-white text-2xl lg:text-3xl font-mono" href="#">nekitdev</a>
    <div class="flex space-x-8">
      <div class="hidden md:flex space-x-8">
        <a class="text-youtube" href="/youtube"><i class="fab fa-youtube w-auto h-10"></i></a>
        <a class="text-reddit" href="/reddit"><i class="fab fa-reddit-alien w-auto h-10"></i></a>
        <a class="text-neutral-900 dark:text-white" href="/x"><i class="fab fa-x-twitter w-auto h-10"></i></a>
        <a class="text-telegram" href="/telegram"><i class="fab fa-telegram w-auto h-10"></i></a>
        <a class="text-discord" href="/discord"><i class="fab fa-discord w-auto h-10"></i></a>
        <a class="text-keybase" href="/keybase"><i class="fab fa-keybase w-auto h-10"></i></a>
      </div>
      <a class="text-neutral-900 dark:text-white" href="/github"><i class="fab fa-github w-auto h-10"></i></a>
      <a class="transition ease-in-out text-neutral-900 dark:text-white text-xl font-mono bg-white dark:bg-neutral-900 focus:outline-none border-neutral-900 dark:border-white hover:border-melody-blue hover:text-melody-blue dark:hover:border-melody-purple dark:hover:text-melody-purple border-2 h-10 px-4 rounded-lg w-full flex items-center justify-center sm:w-auto" href="#projects">
        Projects
      </a>
    </div>
  </header>

  <section class="relative max-w-5xl pt-16 sm:pt-20 lg:pt-24">
    <h1 class="text-5xl lg:text-8xl font-mono">
      Building <span class="text-transparent bg-clip-text bg-gradient-to-b from-melody-purple to-melody-blue">awesome</span> software.
    </h1>
    <div class="mt-6 text-xl lg:text-2xl text-neutral-700 dark:text-neutral-500 font-mono">
      <b>Nikita Tikhonov</b>, {{ age }}-year-old software developer from Moscow, Russia.
    </div>
  </section>
</div>

{% endblock %}
